html,

a {
    color: #0DE00D;
}

.btn-primary {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-primary.focus,.btn-primary:focus{
	color:#fff;
	background-color:#449d44;
	border-color:#255625;
}

.btn-primary:hover{
	color:#fff;
	background-color:#449d44;
	border-color:#398439;
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#449d44;
	border-color:#398439;
}

.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{
	color:#fff;
	background-color:#398439;
	border-color:#255625;
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{
	background-image:none;
}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
	background-color:#5cb85c;
	border-color:#4cae4c;
}

.btn-primary .badge{
	color:#5cb85c;
	background-color:#fff;
}

body {
  overflow-x: hidden;
  padding-top: 50px;
   padding-bottom: 20px;
}

footer {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  	.row-offcanvas {
	    position: relative;
    	-webkit-transition: all .25s ease-out;
    	-o-transition: all .25s ease-out;
    	transition: all .25s ease-out;
	}

  	.row-offcanvas-right {
    	right: 0;
  	}

  	.row-offcanvas-left {
  		left: 0;
  	}

  	.row-offcanvas-right 
  	.sidebar-offcanvas {
    	right: -50%;
  	}

  	.row-offcanvas-left
  	.sidebar-offcanvas {
    	left: -50%;
  	}

  	.row-offcanvas-right.active {
    	right: 50%;
  	}

  	.row-offcanvas-left.active {
    	left: 50%;
  	}

  	.sidebar-offcanvas {
    	position: absolute;
    	top: 0;
    	width: 50%;
  	}
}