<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	bean-discovery-mode="annotated">
	<alternatives>
		<!-- Entity Managers for Mongo DB -->
		<!-- <class>com.qac.oc.managers.mongo.ProductManagerMongo</class> -->
		<!-- Entity Managers for SQL -->
		<!-- <class>com.qac.oc.managers.sql.CustomerManagerSQL</class> -->
		<!-- <class>com.qac.oc.managers.sql.StockManagerSQL</class> -->
		<!-- <class>com.qac.oc.managers.sql.WishlistManagerSQL</class> -->
	</alternatives>
</beans>